<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.pltest.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="pl.pltest.app.activity.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.RecycleViewActivity"
                android:label="@string/title_activity_recycle_view">
        </activity>
        <activity
                android:name=".activity.PopupWindowActivity"
                android:label="@string/title_activity_popup_window">
        </activity>
        <activity
                android:name=".activity.FileActivity"
                android:label="@string/title_activity_file">
        </activity>
        <activity
                android:name=".activity.FloatToolBarActivity"
                android:label="@string/title_activity_float_tool_bar"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.ToolBarWithTabActivity"
                android:label="@string/title_activity_tool_bar_with_tab"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.CollapsingToolBarActivity"
                android:label="@string/title_activity_collapsing_tool_bar"
                android:theme="@style/AppTheme.CoordinateNoActionBar">
        </activity>
        <activity
                android:name=".activity.ViewPagerActivity"
                android:label="@string/title_activity_view_pager">
        </activity>
    </application>

</manifest>
